OVPN_IMAGE=szcq/openvpn:2.7.5
OVPN_ENDPOINT=vpn.example.com
OVPN_PROTO=udp
OVPN_PORT=1194
OVPN_NETWORK=10.42.0.0/24
OVPN_NAT=false
OVPN_NAT_INTERFACE=auto
OVPN_REDIRECT_GATEWAY=false
OVPN_CLIENT_TO_CLIENT=true
OVPN_DNS=
OVPN_ROUTES=
OVPN_CRITICAL_MODE=exit
